@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&family=Secular+One&display=swap');
body{
    background-color:#B2B2B2;
    font-family:  'Poppins', sans-serif;
}
#beginning{
    background-color: #3C4048;
    color: #DDDDDD;
    text-align: initial;
    height: 44px;
    padding: 21px;
    margin: -8px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#redes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 320px;
}
div button{
    border-radius: 33px;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
}
button img{
    width: 44px;
    height: 44px;
    border-radius: 22px;
}
#proyect1{
    width: 500px;
    height: 300px;
    margin: 50px;
}